.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  cursor: pointer;
}
#toggleModeButton{
  padding: 10px 20px;
  background-color: #b3cab3; /* Green */
  color: black;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45A049; /* Green darkened */
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Full width */
  padding: 20px 0; /* Padding at top and bottom */
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it's above other content */
  transition: all 0.3s ease; /* Smooth transition for popup */
}

